// Buttons
.hero-buttons {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid $color-text-primary;
}

.btn:hover {
  opacity: 0.9;
  box-shadow: inset 0 0 0 1px $color-text-primary;
}

.btn-primary {
  background: $background-color;
  color: $color-text-primary;
  text-shadow: none;
}

.btn-secondary {
  background: transparentize($background-color, 0.5);
  color: $color-text-primary;
}

