.pswp__img {
  object-fit: contain;
}

.photogallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.photogallery::after {
  content: "";
  display: block;
  flex-grow: 10;
  min-width: 30%; // prevent a weird almost-full line at the end
}
.photogallery a {
  flex-grow: 1;
  height: 30ex;
  margin: 0.2em;
  max-height: 15vh;
  max-width: calc(50% - 0.4em);
}
.photogallery a img {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: 50% 20%;
  font-family: "object-fit: cover;";
}

.photogallery a img.lazyload {
  opacity: 0;
}

.photogallery a img.lazyload.loaded {
  opacity: 1;
}