// Color and asset variables
$color-text-primary: #7a3333;
$color-text-inverted: #7a3333;

$background-color: #FFF7F4;
$footer-background-color: #551111;
$footer-color: $color-text-primary;

// Button colors
$btn-primary-bg: rgba(255,255,255,0.95);
$btn-border-rgba: rgba(255,255,255,0.85);

// Sizes
$max-content-width: 1000px;

