// Color and asset variables
$color-text-primary: #7a3333;
$color-text-inverted: #7a3333;

$background-color: #FFF7F4;

// Button colors
$btn-primary-bg: rgba(255,255,255,0.95);
$btn-border-rgba: rgba(255,255,255,0.85);

$max-content-width: 1000px;

