body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  all: unset;
}

input, textarea {
  font-family: unset;
}

/* Split stylesheet into partials for clarity */
@import "variables";
@import "./_containers.scss";
@import "./_text.scss";
@import "./_buttons.scss";
@import "./_audio.scss";
@import "./_photos.scss";
@import "./_responsiveness.scss";
@import "./_contact-form.scss";
