{{- /*
Shortcode parameters:
- youtubeId (required): YouTube ID (only the alphanumeric part from the URL, e.g. "dQw4w9WgXcQ")
- name (optional): title
*/ -}}

{{ $youtubeId := .Get "youtubeId" }}
{{ $youtubeLink := printf "https://www.youtube.com/watch?v=%s" $youtubeId }}
{{ $uniqueId := printf "%d" .Ordinal -}}

<div class="youtube-container">
  <iframe src='/iframe-block?youtubeId={{.Get "youtubeId"}}&iframeId=youtube-{{$uniqueId}}'
          allow='accelerometer; encrypted-media; gyroscope; picture-in-picture; fullscreen'
          title='{{- .Get "name"}}' class="youtube-player" id="youtube-{{ $uniqueId }}" loading="lazy">
  </iframe>
</div>

<script>
    window.addEventListener("message", (event) => {
        let iframe = document.getElementById(event.data.iframe);
        iframe.src = 'https://www.youtube-nocookie.com/embed/' + event.data.youtube + '?fs=0&playsinline=1&rel=0';
    });
</script>